.card{
    background-color: rgba(253, 245, 241, 1);
    align-items: center;
    padding: 40px 30px;
    border-radius: 15px;
    max-width: 400px;
    width: 90%;
    color:#183e64;
    display: flex;
}
body{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background-color:#183e64;
}
.botao{
    border: solid 2px#1f3c5b;
    color: #1f3c5b
}
.botao:hover {
    border: solid 2px;
    color: black;
    background-color: #f0f0f0;
}
.imagem{
    width: 20%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}